<div class="panel panel-<%= z %>">
  <div class="panel-heading">
    <%= y %>
  </div>
  <%if Concepto.all.where(tipo_de_concepto:x).length>0%>
<div class="panel-body">
  <div class="table-responsive text-center">
    <table class="table  table-condensed table-hover table-responsive table-bordered ">
      <thead>
        <tr>
          <th class= "actions">Nombre</th>
          <th class= "actions">Formula</th>
          <th class= "actions">Formula Patrono</th>
          <th class= "actions">Modalidad de pago</th>
          <th class= "actions" style= "width: 100px;">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <%
        c=@conceptos.where(tipo_de_concepto: x).order("created_at")
        c.each do |concepto| %>
        <tr>
          <td><%= concepto.nombre %></td>
          <td><var><%= concepto.formulas.last.empleado %></var></td>
            <td><var><%= concepto.formulas.last.patrono %></var></td>
          <td><%= $dic["modalidad_de_pago"].key(concepto.modalidad_de_pago )%></td>

          <td>
            <%= render 'layouts/actions', :x => Concepto, :y => edit_concepto_path(concepto), :z =>concepto %>

        </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%else%>
<div class="actions">
  <h4>"No hay asignaciones disponibles"</h4>
</div>
<%end%>
</div>
