<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for(@dependencia) do |f| %>
      <% if @dependencia.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@dependencia.errors.count, "error") %>
          prohibited this dependencia from being saved:</h2>

        <ul>
          <% @dependencia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="col-md-12">
        <%= f.label :nombre %><br>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-align-justify"></span>
          </span>
          <%= f.text_field :nombre, class: "form-control", REQUIRED: "", autofocus: "" %>
        </div>
      </div>
      <%= render 'layouts/botones', p: dependencias_path  %>
    </div>
  </div>
  <% end %>
