<%= form_for @cargo ,:role => "form" do |f| %>
  <% if @cargo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cargo.errors.count, "error") %> prohibited this cargo from being saved:</h2>

      <ul>
      <% @cargo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :departamento_id %><br>
    <%= f.select(:departamento_id, options_for_select(Departamento.all.map{|s|[s.nombre, s.id]}, params[:departamento_id]),{},:class =>"form-control")  %>
  </div>
  <div class="form-group">
    <%= f.label :tipo %><br>
    <%= f.select(:tipo_id, options_for_select(Tipo.all.map{|s|[s.nombre, s.id]}, params[:tipo_id]),{},:class =>"form-control")  %>
  </div>
  <h3>Sueldo</h3>
  <%= f.fields_for :sueldos  do |sueldo_builder|  %>
  <% if sueldo_builder.object.activo? %>
    <div class="form-group" >

      <%= sueldo_builder.label :monto %>
      <%= sueldo_builder.text_field :monto,:class => "form-control" %>

    </div>
      <% end %>
    <% end %>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-primary btn-md boton" %>
    <%= link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), cargos_path,:class => "btn btn-default btn-md boton"  %>
  </div>
<% end %>
