<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class="pull-right">
    <%= link_to "Nuevo Cargo", new_cargo_path, class: "btn btn-danger"  %>
  </div>
  <h1>Cargos</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Cargos
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-responsive table-bordered">
        <thead>
          <tr>
            <th class= "actions">Nombre</th>
            <th class= "actions">Departamento</th>
            <th class= "actions">Sueldo</th>
            <th class= "actions">Tipo</th>
            <th class= "actions">Disponible</th>
            <th class= "actions">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cargos.each do |cargo| %>
          <tr>
            <td><%= cargo.nombre %></td>
            <td><%= cargo.departamento.nombre %></td>
            <td><%= cargo.sueldos.last.monto %></td>
            <th><%= cargo.tipo.nombre %></th>
            <th><%if cargo.disponible %>
              <span class="fa fa-check"></span>
              <%else%>
              <span class="fa fa-remove"></span>
              <%end%></th>
              <td class= "actions"><%= link_to '', cargo,class: "fa fa-eye" %>
              <%= link_to '', edit_cargo_path(cargo),class: "fa fa-pencil" %>
              <%= link_to '', cargo,class: "fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @cargos %>
    </div>
  </div>
</div>
