<p id="notice"><%= notice %></p>

<p>
  <strong>Payroll:</strong>
  <%= @person.payroll %>
</p>

<p>
  <strong>Tipo cedula:</strong>
  <%= @person.tipo_cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @person.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @person.apellidos %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @person.telefono_fijo %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @person.telefono_movil %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @person.fecha_de_nacimiento %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @person.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @person.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @person.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @person.estado_civil %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @person.grado %>
</p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
