<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for(@departamento) do |f| %>
      <% if @departamento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@departamento.errors.count, "error") %>
          prohibited this departamento from being saved:</h2>

        <ul>
          <% @departamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group col-md-12">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre ,class: "form-control", REQUIRED: "", autofocus: "" %>
        <div class="form-group">
          <%= f.label :dependencia_id %><br>
          <% if f.object.dependencia_id=f.object.dependencia_id ? f.object.dependencia_id : 0%>
          <%= f.select(:dependencia_id, options_for_select(Dependencia.all.map{|s|[s.nombre, s.id]}, f.object.dependencia_id),{include_blank:'Seleccione una Dependencia...'},:class =>"form-control", REQUIRED: "" )  %></span>
  <%end%>
      </div>
    </div>
  <%= render 'layouts/botones', p: departamentos_path  %>
  </div>
</div>
</div>
<% end %>
