<div class="page-header">
  <div class="pull-right">
    <%= link_to "Nuevo Departamento", new_departamento_path, class: "btn btn-danger"  %>
  </div>
  <h1>Departamentos</h1>
</div>
<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false">Lista de departamentos</li>
  <%if Departamento.all.length>0%>
  <li class="list-group-item text-center ">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-responsive table-bordered">
        <thead>
          <tr>
            <th class= "actions" ><%=t("nombre")%></th>
            <th class= "actions" >Personas</th>
            <th  class= "actions" style= "width: 100px;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @departamentos.each do |departamento| %>
          <tr>
            <td><%= departamento.nombre %></td>
            <td><%=Cargo.where("departamento_id=#{departamento.id} and disponible=false").length %></td>
            <td><div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">

          <%= link_to '', departamento,class: "btn btn-default fa fa-eye " %>
            <%= link_to '', edit_departamento_path(departamento),class: "btn btn-default fa fa-pencil" %>
            <%= link_to '', departamento,class: "btn btn-danger fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
  <%elsif%>
  <div class="actions">
    <h4>"No hay departamentos disponibles"</h4>
  </div>
  <%end%>
</ul>
