<div class="page-header">
  <%= render 'layouts/nuevo', msg: "Nuevo Departamento", path: new_departamento_path ,x: Departamento %>

  <h1><i class="fa fa-building-o"></i> Departamentos</h1>
</div>
<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false">Lista de departamentos</li>

  <li class="list-group-item text-center ">
    <%if Departamento.all.length>0%>
    <div class="table-responsive">
          <table class="table table-hover table-bordered table-condensed table-striped">
            <thead>
          <tr>
            <th class= "actions" ><%=t("nombre")%></th>
            <th class= "actions" >Dependencia</th>
            <th class= "actions" >Personas</th>
<% if !current_usuario.has_role?:regular %>
            <th  class= "actions" style= "width: 100px;">Acciones</th>
            <%end%>
          </tr>
        </thead>

        <tbody>
          <% @departamentos.each do |departamento| %>
          <tr>
            <td><%= departamento.nombre.upcase %></td>
            <td><%= departamento.dependencia.nombre.upcase %></td>
            <td><%=Cargo.where("departamento_id=#{departamento.id} and disponible=false").length %></td>
<% if !current_usuario.has_role?:regular %>
            <td>
              <%= render 'layouts/actions', x: Departamento, y: edit_departamento_path(departamento), z: departamento %>

            </td>
            <%end%>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
  <%else%>
  <div class="actions">
    <h4>"No hay departamentos disponibles"</h4>
  </div>
  <%end%>
</ul>
