<div class="panel panel-default">
  <div class="panel-heading">
    Datos
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for(@tipo) do |f| %>
      <% if @tipo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@tipo.errors.count, "error") %>
          prohibited this tipo from being saved:</h2>

        <ul>
          <% @tipo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group col-md-12">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, class: "form-control", REQUIRED: "", autofocus: "" %>
      </div>
        <%= render 'layouts/botones', p: tipos_path  %>
    </div>
  </div>
</div>
<% end %>
