<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Nuevo Tipo', new_tipo_path, class: "btn btn-danger btn-md" %>
  </div>
  <h1>Tipos de Nomina</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Tipos
  </div>
 <%if Tipo.all.length>0%>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-responsive table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th class= "actions" style= "width: 100px;">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @tipos.each do |tipo| %>
          <tr>
            <td><%= tipo.nombre %></td>
            <td><div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">

          <%= link_to '', tipo,class: "btn btn-default fa fa-eye " %>
            <%= link_to '', edit_tipo_path(tipo),class: "btn btn-default fa fa-pencil" %>
            <%= link_to '', tipo,class: "btn btn-danger fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></div></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<%elsif%>
  <div class="actions">
    <h4>"No hay tipos de nomina disponibles"</h4>
  </div>
  <%end%>
</div>
