<p id="notice"><%= notice %></p>

<div class="page-header">
<div class="pull-right">
  <%= link_to 'Nuevo Tipo', new_tipo_path, class: "btn btn-danger btn-md" %>
</div>
  <h1>Tipos</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Tipos
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed table-responsive table-bordered" id="dataTables-example">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>

        <tbody>
          <% @tipos.each do |tipo| %>
          <tr>
            <td><%= tipo.nombre %></td>
            <td><%= link_to '', tipo,class: "fa fa-eye" %></td>
            <td><%= link_to '', edit_tipo_path(tipo),class: "fa fa-pencil" %></td>
            <td><%= link_to '', tipo,class: "fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script>
  $('#dataTables-example').DataTable({responsive: true});
</script>
