<div class="page-header">
    <%= render 'layouts/nuevo', :msg => "Nueva N贸mina", :path=>new_tipo_path, :x =>Tipo %>

    <h1>Tipos de N贸mina</h1>
</div>


<ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">Lista de n贸minas</li>
    <li class="list-group-item text-center ">
      <%if Tipo.all.length>0%>
        <div class="table-responsive">

            <table class="table table-hover table-bordered table-condensed table-striped" style="font-size:	11px;">
                <thead>
                    <th class="actions">Nombre</th>

                    <th class="actions" style="width: 380px;">Reportes</th>

                    <th class="actions" style="width: 100px;">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <% @tipos.each do |tipo| %>

                <tr>
                    <td><%= tipo.nombre %></td>
                    <td class="actions">
                        <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                            <%= link_to ' Recibos', tipo_path(tipo,format: "pdf")+"?doc=0",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar recibos de pago de la nomina" %>
                            <%= link_to '', tipo_path(tipo,format: "pdf")+"?doc=1",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica(ahorro de tinta)" %>
                        </div>
                        <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                            <%= link_to ' Bancario', "#",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte bancario" %>
                            <%= link_to '', "#",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica(ahorro de tinta)" %>
                        </div>
                        <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                            <%= link_to ' Conceptos', tipo_path(tipo,format: "pdf")+"?doc=4",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte de conceptos en el nomina." %>
                            <%= link_to '', tipo_path(tipo,format: "pdf")+"?doc=5",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica(ahorro de tinta)" %>
                        </div>

                    </td>




                    <td class="actions">
                        <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
                            <%= render 'layouts/actions', :x => tipo, :y => edit_tipo_path(tipo) %>
                        </tr>

                        <% end %>
                    </tbody>
                </table>
            </div>
        </li>
      </br>
      </br>
      </br>
    </ul>


    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

        })
    </script>
    <%else%>
    <div class="actions">
        <h4>"No hay tipos de n贸mina disponibles"</h4>
    </div>
    <%end%>
