<div class="page-header">

  <%= render 'layouts/nuevo', msg: "Nueva Nómina", path: new_tipo_path, x: Tipo %>
  <button class="btn btn-default pull-right" style="margin-right:1%; height:111%;" type="button" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-file-pdf-o">
      Reportes</i>
  </button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" style="margin-top:60px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            <i class="fa fa-file-pdf-o fa-2x"></i>
            Generador de Reportes</h4>
        </div>
        <div class="modal-body">
          <div class="col-xs-12 form-group">
            <%= label_tag "Nómina " %>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <span class="fa fa-bars fa-fw"></span>
              </span>

              <%= select_tag("Tipo",options_for_select(Tipo.all.map{|s|[s.nombre.capitalize, s.id]}),{include_blank:'Seleccione una nómina...',class: "form-control" }) %>

            </div>
          </div>

          <div class="col-xs-12 form-group">
            <%= label_tag "Quincena" %>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <span class="fa fa-calendar fa-fw"></span>
              </span>

              <select class="form-control" id="quincena">
                <option value="">Seleccione la quincena...</option>
                <%
                sueldo=false
if Sueldo.all.length>0
  if Sueldo.first.created_at.day<=15
    sueldo=Date.civil(Sueldo.first.created_at.year,Sueldo.first.created_at.mon,1)
  else
        sueldo=Date.civil(Sueldo.first.created_at.year,Sueldo.first.created_at.mon,16)
  end
end
sueldo = $ahora if !sueldo
i=1
while sueldo<=$ahora
%>
                <%

quincena = (sueldo.day <= 15) ? 0 : 1
dia= (quincena==0) ? 11 : 17
fecha="#{dia}-#{sueldo.month}-#{sueldo.year}"
%>
                <%=raw("<option value=\"#{fecha}\"> #{$dic['quincena'].key(quincena)} #{$dic['meses'].key(sueldo.month)} del #{sueldo.year}</option>")%>
              <%
if quincena==0
  sueldo= Date.strptime("16-#{sueldo.mon}-#{sueldo.year}", '%d-%m-%Y')
else
if sueldo.mon==12
  sueldo=Date.strptime("1-1-#{sueldo.year+1}", '%d-%m-%Y')
else
  sueldo= Date.strptime("1-#{sueldo.mon+1}-#{sueldo.year}", '%d-%m-%Y')
end
end
%>
                <%end%>

              </select>
            </div>
          </div>
          <div class="col-xs-12 form-group">
            <%= label_tag "Tipo de reporte" %>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <span class="fa fa-file fa-fw"></span>
              </span>

              <%= select_tag("tipo_de_reporte",options_for_select($dic["tipos_de_reporte"]),{include_blank:'Seleccione un tipo de reporte ...',class: "form-control" }) %>

            </div>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-6 form-group">
            <%= label_tag "Conceptos Globales" %>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <span class="fa fa-money fa-fw"></span>
              </span>

              <%= select_tag("Concepto",options_for_select(Concepto.all.map{|s|[s.nombre.upcase, s.id]}.prepend([t('Ninguno'), 0])),{include_blank:'Todos (Excepto extras)',class: "form-control" }) %>

            </div>
          </div>
          <div class="col-xs-6 form-group">
            <%= label_tag "Conceptos Personales" %>
            <div class="form-group input-group">
              <span class="input-group-addon">
                <span class="fa fa-money fa-fw"></span>
              </span>

              <%= select_tag("Conceptopersonal",options_for_select(Conceptopersonal.all.map{|s|[s.nombre.upcase, s.id]}.prepend([t('Ninguno'), 0])),{include_blank:'Todos (Excepto extras)',class: "form-control" }) %>

            </div>
          </div>
        </div>
        </br>
      </br>
    </br>
  </br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

</div>
<div class="modal-footer">
<div class="btn-group btn-group-md form-inline" role="group" aria-label="...">
<button type="button" class="btn btn-primary" id="generar_boton" name="button">
<i class="fa fa-cog"></i>
Generar</button>
<button type="button" class="btn btn-success" id="generar_boton_eco" name="button">
<i class="fa fa-leaf"></i>
</button>
</div>
<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
<h1>  <span class="fa-stack  fa-fw," style="font-size: 0.7em;">
    <i class="fa fa-user fa-stack-2x" style="color:black;"></i>
    <i class="fa fa-money fa-stack-1x" style="color:white; margin-top:0.5em; margin-left:0.3em;"></i>
  </span> Tipos de Nómina</h1>
</div>

<ul class="list-group">
<li class="list-group-item text-muted" contenteditable="false">Lista de nóminas</li>
<li class="list-group-item text-center ">
<%if Tipo.all.length>0%>
<div class="table-responsive">

<table class="table table-hover table-bordered table-condensed table-striped" style="font-size: 12px;" >
<thead>
<th class="actions">Nombre</th>
<th class="actions">Personas</th>
<th class="actions" style="width: 34%;">Reportes</th>
<th class="actions" style="width: 20%;">Listados</th>
<% if !current_usuario.has_role?:regular%>
<th class="actions" style="width: 22%;">Enviar Correos</th>
<th class="actions" style="width: 100px;">Acciones</th>
<%end%>
</tr>
</thead>

<tbody>
<% @tipos.each do |tipo| %>

<tr>
<td><%= tipo.nombre.upcase %></td>
<td><%= Cargo.where("tipo_id=#{tipo.id} and disponible=false").length %></td>
<td class="actions">
<div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
<%= link_to ' Recibos', tipo_path(tipo,format: "pdf")+"?doc=0&cp=&c=","target": "_blank",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar recibos de pago" %>
<%= link_to '', tipo_path(tipo,format: "pdf")+"?doc=1&cp=&c=","target": "_blank",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica (ahorro de tinta)" %>
</div>
<div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
<%= link_to ' Bancario', tipo_path(tipo,format: "pdf")+"?doc=2&cp=&c=","target": "_blank",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte bancario" %>
<%= link_to '', tipo_path(tipo,format: "pdf")+"?doc=3&cp=&c=","target": "_blank",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica (ahorro de tinta)" %>
</div>
<div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
<%= link_to ' Deducciones', tipo_path(tipo,format: "pdf")+"?doc=4&cp=&c=","target": "_blank",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte de conceptos" %>
<%= link_to '', tipo_path(tipo,format: "pdf")+"?doc=5&cp=&c=","target": "_blank",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica (ahorro de tinta)" %>
</div>
</td>
<td>
  <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
  <%= link_to ' Familiares', tipo_path(tipo,format: "csv")+"?csv=0","target": "_blank",class: "btn btn-default fa fa-file-excel-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar lista de familiares (formato excel)" %>
  </div>
  <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
  <%= link_to ' Empleados', tipo_path(tipo,format: "csv")+"?csv=1","target": "_blank",class: "btn btn-default fa fa-file-excel-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar lista de empleados  (formato excel)" %>
  </div>
</td>
<td>
  <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
      <div class="btn btn-default btn-xs enviar_recibos" value="<%= tipo.id%>"><i class="fa fa-calendar"></i> Quincena Actual</div>

      <div class="btn btn-default btn-xs enviar_recibos_pasada" value="<%= tipo.id%>"><i class="fa fa-step-backward"></i> Pasada</div>
  </div>
</td>
<% if !current_usuario.has_role?:regular%>
<td class="actions">
<div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
<%= render 'layouts/actions', x: Tipo, y: edit_tipo_path(tipo), z: tipo %>
</td>
<%end%>

</tr>

<% end %>
</tbody>
</table>
<br>
</div>
</li>
</br>
</ul>
  <input type="hidden" id="filtro" value="">
<%
#pruebaaa
  @personas= Persona.where('status = ? OR status = ?',"activo","suspendido").order(:id)
@personas.each do |persona|
  %>


<input type="hidden" class="persona<%=persona.cargo.tipo.id%>" value="<%=persona.id%>">
<%end%>
<div class="modal fade" id="enviar" tabindex="-1" role="dialog" aria-labelledby="enviar" style="margin-top: 200px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  text-center">
                <i class="fa fa-refresh fa-spin fa-5x fa-fw margin-bottom" id="progreso_icon"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div class="modal-footer">
                <div id="progreso" class="text-center"></div>
            </div>
        </div>
    </div>
</div>
</input>
<%
fecha=""
if $quincena==0
  if $ahora.mon==1
    fecha="24-12-#{$ahora.year-1}"
  else
    fecha="24-#{$ahora.mon-1}-#{$ahora.year}"
  end
else
  fecha="11-#{$ahora.mon}-#{$ahora.year}"
end
%>

<script type="text/javascript">

function s(x,y) {
$('#enviar').modal({
  show: true, backdrop:false
});
  $("#progreso").html("progreso: " + x + "/" + $('.persona'+$("#filtro").attr("value")).length)
  $.ajax({
    statusCode: {
    500: function() {
      $("#progreso").html("¡Error interno!");
      $("#progreso_icon").attr("class","fa fa-ban fa-5x");
    }
  },
    method: "POST",
    url: "/personas/" + $('.persona'+$("#filtro").attr("value"))[x].value + "/enviar?ahora="+y
  }).done(function () {
    x = x + 1
    if (x < $('.persona'+$("#filtro").attr("value")).length) {
      s(x,y);
    } else {
      $("#progreso").html("¡Todos los recibos han sido enviados!");
      $("#progreso_icon").attr("class","fa fa-check fa-5x");
    }
  });
}


function generar(eco) {

  if ($('#Tipo').val() == '') {
    alert('Seleccione una opcion en el campo nómina.');
    return;
  }
  if ($('#tipo_de_reporte').val() == '') {
    alert('Seleccione una opcion en el campo tipo de reporte.');
    return;
  }
  if ($('#Concepto').val() === "0" && $('#Conceptopersonal').val() === "0") {
    alert('Seleccione al menos una clase de concepto.');
    return;
  }
  var concepto = "&c=" + $('#Concepto').val();

  var conceptopersonal = "&cp=" + $('#Conceptopersonal').val();

  var params = '?doc=' + (parseInt($('#tipo_de_reporte').val()) + eco) + conceptopersonal + concepto + '&ahora=' + $('#quincena').val();
  var win = window.open('<%=tipos_path%>/' + $('#Tipo').val() + '.pdf' + params, '_blank');
  if (win) {
    //Browser has allowed it to be opened
    win.focus();
  } else {
    //Broswer has blocked it
    alert('Please allow popups for this site');
  }
}

$(function () {

  $('[data-toggle="tooltip"]').tooltip();
  $('#generar_boton').click(function () {
    generar(0);
  });
  $('#generar_boton_eco').click(function () {
    generar(1);
  });
  $('.enviar_recibos_pasada').click(function () {

$('#filtro').attr("value", $(this).attr("value"));
$("#progreso_icon").attr("class","fa fa-refresh fa-spin fa-5x fa-fw margin-bottom");
    s(0,"<%= fecha%>");
  });
  $('.enviar_recibos').click(function () {
    $('#filtro').attr("value", $(this).attr("value"));

$("#progreso_icon").attr("class","fa fa-refresh fa-spin fa-5x fa-fw margin-bottom");
    s(0,'<%="#{$ahora.day}-#{$ahora.mon}-#{$ahora.year}" %>');
  });
});
</script>
<%else%>
<div class="actions">
<h4>"No hay tipos de nómina disponibles"</h4>
</div>
<%end%>
