      <div class="row">
        <div class="col-sm-12  form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Bienvenido al sistema FUNSONE NÓMINA BETA.</h3>
              <p>Introduzca su Email y Contraseña, para acceder:</p>

            </div>
            <div class="form-top-right">
              <img src="/assets/logo.png" alt="logo" />

            </div>
          </div>
          <div class="form-bottom">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field"> <h4><i class="fa fa-envelope">
              </i> Email</h4>

              <%= f.email_field :email, autofocus: true, class:"form-username form-control" %>
            </div>

            <div class="field">
              <h4><i class="fa fa-lock fa-lg">
                </i> Contraseña</h4>

              <%= f.password_field :password, autocomplete: "off", class:"form-username form-control" %>
            </div>
</br>
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label "Recordarme en este equipo" %>
            </div>
            <% end %>

            <div class="col-md-4 col-md-offset-4">
              <button type="submit" name="name" class="btn btn-primary boton" >
<%= raw("<i class=\"fa fa-sign-in fa-1x\"></i>  Iniciar sesión") %>
            </button>

            </div>
          </br>
          </br>
            <% end %>
          </div>
        </div>
      </div>
