<div class="panel panel-default">
  <div class="panel-heading">
    Familiares
  </div>
  <div class="panel-body">
    <%= f.fields_for :familiares  do |familiares_builder|  %>
    <div class="col-xs-6">
      <%= familiares_builder.label :cedula %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-person"></span>
        </span>
        <%= familiares_builder.text_field :cedula,:class => "form-control" %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= familiares_builder.label :nombres %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-person"></span>
        </span>
        <%= familiares_builder.text_field :nombres,:class => "form-control" %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= familiares_builder.label :apellidos %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-person"></span>
        </span>
        <%= familiares_builder.text_field :apellidos,:class => "form-control" %>
      </div>
      <div class="col-xs-6">
        <%= familiares_builder.label :fecha_de_nacimiento %>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
          <%= familiares_builder.date_field :fecha_de_nacimiento,:class => "form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <%= familiares_builder.label :sexo %>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-file-text-o"></span>
          </span>
          <%= familiares_builder.select(:sexo, options_for_select($dic["sexos"], @persona.familiares.sexo),{},:class =>"form-control" ) %>
        </div>
      </div>
      <div class="col-xs-6">
        <%= familiares_builder.label :direccion %>
        <div class="form-group input-group">
          <span class="input-group-addon">
            <span class="fa fa-person"></span>
          </span>
          <%= familiares_builder.text_field :direccion,:class => "form-control" %>
        </div>
    </div>
  </div>
</div>

<% end %>
