<br>
<%if p.length>0%>
<div class="table-responsive">

  <table class="table table-hover table-bordered table-condensed table-striped" style="font-size:	11px;">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombres Completo</th>
        <th>Departamento</th>
        <th>Cargo</th>
        <th>Sueldo</th>
        <th class="actions">Reporte</th>

        <th class="actions">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% p.each do |persona| %>
      <tr>
        <td><%= $dic["tipos_de_cedula"].key(persona.tipo_de_cedula) + persona.cedula%></td>
        <td><%= persona.nombres.capitalize+" "+persona.apellidos.capitalize %></td>
        <td><%= persona.cargo.departamento.nombre %></td>
        <td><%= persona.cargo.nombre %></td>
        <td><%= persona.cargo.sueldos.last.monto %></td>
        <td>
          <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
          <%= link_to ' Recibo', persona_path(persona,format: "pdf")+"?doc=0",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte de conceptos en el nomina." %>
          <%= link_to '', persona_path(persona,format: "pdf")+"?doc=1",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica(ahorro de tinta)" %>
          </div>
          <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">
          <%= link_to ' Constancia', persona_path(persona,format: "pdf")+"?doc=2",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar reporte de conceptos en el nomina." %>
          <%= link_to '', persona_path(persona,format: "pdf")+"?doc=3",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar version Ecologica(ahorro de tinta)" %>
          </div>
        </td>
        <td>
          <div class="btn-group btn-group-xs form-inline" role="group" aria-label="...">

        <%= link_to '', persona,class: "btn btn-default fa fa-eye " %>
          <%= link_to '', edit_persona_path(persona),class: "btn btn-default fa fa-pencil" %>
          <%= link_to '', persona,class: "btn btn-danger fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></div></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<div class="pagination text-center">
  <%= will_paginate p, renderer: BootstrapPagination::Rails %>
</div>
</div>
<%else%>
<div class="actions">
  <h4>"No hay empleados en esta seccion"</h4>
</div>
<%end%>
