<br>
<%if p.length>0%>
<div class="table-responsive">

  <table class="table table-hover table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombres Completo</th>
        <th>Departamento</th>
        <th>Cargo</th>
        <th>Sueldo</th>
        <th class="actions">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% p.each do |persona| %>
      <tr>
        <td><%= $dic["tipos_de_cedula"].key(persona.tipo_de_cedula) + persona.cedula%></td>
        <td><%= persona.nombres.capitalize+" "+persona.apellidos.capitalize %></td>
        <td><%= persona.cargo.departamento.nombre %></td>
        <td><%= persona.cargo.nombre %></td>
        <td><%= persona.cargo.sueldos.last.monto %></td>
        <td>
        <%= link_to '', persona,class: "fa fa-eye" %>
          <%= link_to '', edit_persona_path(persona),class: "fa fa-pencil" %>
          <%= link_to '', persona,class: "fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate p%>
</div>
<%elsif%>
<div class="actions">
  <h4>"No hay empleados en esta seccion"</h4>
</div>
<%end%>
