<div class="panel panel-default nested-fields">
  <div class="panel-heading">
    Concepto   <div class="pull-right"><%=link_to_remove_association raw('<i class="fa fa-times"></i>'), f%></div>
  </div>
  <div class="panel-body">
    <div class="col-xs-6">
      <%= f.label "Concepto Personal" %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-align-justify"></span>
        </span>
        <%= f.select(:conceptopersonal_id, options_for_select(Conceptopersonal.all.map{|s|[s.nombre, s.id]},f.object.conceptopersonal_id),{include_blank:'Seleccione un concepto...'}, class: 'form-control')  %>
      </div>
    </div>
        <div class="col-xs-6">
      <%= f.label "Modalidad de Pago" %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar-o"></span>
        </span>

    <%= f.select(:modalidad_de_pago, options_for_select($dic["modalidad_de_pago"],f.object.modalidad_de_pago),{include_blank: 'Seleccione una modalidad de pago...'},class: "form-control" )  %>
      </div>
    </div>
    <%if f.object.formulaspersonales.length==0
    f.object.formulaspersonales.build
      end
       %>
    <%= f.fields_for :formulaspersonales  do |formula_builder|
       %>
       <% if formula_builder.object.activo? %>

<%# if formula_builder.object.activo? %>
    <div class="col-xs-6">
      <%= formula_builder.label :empleado %><br>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calculator"></span>
        </span>
        <%= formula_builder.text_area :empleado, class: "form-control code"%>
      </div>
    </div>
    <div class="col-xs-6">
      <%= formula_builder.label :patrono %><br>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calculator"></span>
        </span>
        <%= formula_builder.text_area :patrono, class: "form-control code"%>
      </div>
    </div>

<% end %>
    <% end %>

  </div>

</div>
