
<div class="page-header">
  <div class="pull-right">
    <%= link_to "Contratar Persona", new_persona_path, class: "btn btn-danger"  %>
  </div>
  <h1>Empleados</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Empleados
  </div>
  <div class="panel-body">
    <div class="table-responsive">

      <table class="table table-hover table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class= "actions">Cedula</th>
            <th class= "actions">Nombres</th>
            <th class= "actions">Apellidos</th>
            <th class= "actions">Fecha de nacimiento</th>
            <th class= "actions">Correo</th>
            <th class= "actions">Status</th>
            <th class= "actions">Cargo</th>
            <th class= "actions">Sueldo</th>
            <th class= "actions">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @personas.each do |persona| %>
          <tr>
            <td><%= $dic["tipos_de_cedula"].key(persona.tipo_de_cedula) + persona.cedula%></td>
            <td><%= persona.nombres %></td>
            <td><%= persona.apellidos %></td>
            <td><%= persona.fecha_de_nacimiento %></td>
            <td><%= persona.correo %></td>
            <td><%= $dic["status"].key(persona.status) %></td>
            <td><%= persona.cargo.nombre %></td>
            <td><%= persona.cargo.sueldos.last.monto %></td>
            <td class= "actions"><%= link_to '', persona,class: "fa fa-eye" %>
            <%= link_to '', edit_persona_path(persona),class: "fa fa-pencil" %>
            <%= link_to '', persona,class: "fa fa-trash", method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

<%= paginate @personas %>
    </div>
  </div>
</div>
