<div class="page-header">
  <div class="pull-right">
    <%= link_to "Contratar Persona", new_persona_path, class: "btn btn-danger"  %>
  </div>
  <h1>Empleados</h1>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#activos" data-toggle="tab">Activos (<%= Persona.activo.length %>)</a>
      </li>
      <li class="">
        <a href="#suspendidos" data-toggle="tab">Suspendidos (<%= Persona.suspendido.length %>)</a>
      </li>
      <li class="">
        <a href="#retirados" data-toggle="tab">Retirados (<%= Persona.retirado.length %>)</a>
      </li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane fade active in" id="activos">
        <div class="sort_paginate_ajax">
          <%= render 'personas', :p => @personas %>
        </div>
      </div>

      <div class="tab-pane fade" id="suspendidos">
        <div class="sort_paginate_ajax_suspendidos">
          <%= render 'personas', :p => @personas_suspendidas %>
        </div>
      </div>

      <div class="tab-pane fade" id="retirados">
        <div class="sort_paginate_ajax_retirados">
          <%= render 'personas', :p => @personas_retiradas %>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  var classes = ".sort_paginate_ajax th a, .sort_paginate_ajax .pagination a, .sort_paginate_ajax_retirados th a, .sort_paginate_ajax_retirados .pagination a, .sort_paginate_ajax_suspendidos th a, .sort_paginate_ajax_suspendidos .pagination a";

  $(function () {
    $('a[data-toggle="tab"').on('shown.bs.tab', function () {

      $.getScript("/personas?page=1");
      return false;
    });

    $(classes).click(function () {
      $.getScript(this.href);
      return false;
    });
  });
</script>
