<div class="col-sm-12 page-header">
  <div class="col-sm-2 "><%= image_tag @persona.avatar.url(:thumb), class:"img-circle user-image  img-rounded " %></div>
  <div class="col-sm-10 ">
    <h2><%= (@persona.nombres + " " + @persona.apellidos).upcase%></h2>
  </div>

</div>
<div class=" col-md-12">

  <ul class="nav nav-pills nav-justified">
    <% if (can? :edit, Persona) && (@persona.status!='retirado')%>
    <li role="presentation"><%= link_to raw('<i class="fa fa-pencil"></i> Editar'), edit_persona_path(@persona)%></li>
    <%end%>
    <li role="presentation"><%= link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), personas_path%></li>
    <li role="presentation">

      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-pdf-o"></i> Documentos
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" style="width:100%;">
        <li class="text-center">
          <div class="btn-group btn-group-md form-inline" role="group" aria-label="...">
            <%= link_to ' Recibo', persona_path(@persona,format: "pdf")+"?doc=0","target": "_blank",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar último recibo de pago" %>
            <%= link_to '', persona_path(@persona,format: "pdf")+"?doc=1","target": "_blank",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar versión ecológica (ahorro de tinta)" %>
            <%= link_to '', enviar_persona_path(@persona)+"?redir=1", method: :post, data: { confirm: 'Esta seguro?' },class: "btn btn-default fa fa-envelope reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Enviar recibo al correo
            electrónico"%>
          </div>
        </li>
        <li role="separator" style="margin:4px;"></li>
        <li class="text-center">
          <div class="btn-group btn-group-md form-inline" role="group" aria-label="...">
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-cog">
                Ver recibos anteriores</i>
            </button>
          </div>
        </li>
        <li role="separator" style="margin:4px;"></li>

        <li class="text-center">
          <%if @persona.status!='retirado'%>
          <div class="btn-group btn-group-md form-inline" role="group" aria-label="...">
            <%= link_to ' Constancia', persona_path(@persona,format: "pdf")+"?doc=2","target": "_blank",class: "btn btn-default fa fa-file-pdf-o reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar constancia de trabajo" %>
            <%= link_to '', persona_path(@persona,format: "pdf")+"?doc=3","target": "_blank",class: "btn btn-default fa fa-leaf reportes","data-toggle"=>"tooltip", "data-placement"=>"right", "title"=>"Descargar versión ecológica (ahorro de tinta)" %>

          </div>
          <%end%>
        </li>

      </ul>
    </li>
    <% if can? :edit, Persona %>
    <li role="presentation">

      <a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-retweet"></i> Cambiar estado
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu text-center" style="width:100%;">
        <% case @persona.status
      when 'activo'
    %>
        <li><%= link_to raw('<i class="fa fa-pause-circle fa-fw"></i> Suspender'), cambiarestado_persona_path(@persona, estado: 3), method: :post, data: { confirm: 'Esta seguro?' } %></li>
        <li><%= link_to raw('<i class="fa fa-stop-circle fa-fw "></i> Retirar'),  cambiarestado_persona_path(@persona, estado: 0), method: :post, data: { confirm: 'Esta seguro?' } %></li>
        <% when 'suspendido'%>
        <li><%= link_to raw('<i class="fa fa-play-circle"></i> Reactivar'),  cambiarestado_persona_path(@persona, estado: 1), method: :post, data: { confirm: 'Esta seguro?' } %></li>
        <% when 'retirado'%>
        <li class="text-center">
          <button class="btn-default" type="button" data-toggle="modal" data-target="#reingreso" style="border: 0px; width: 100%;">
            Reingresar
          </button>
        </li>
        <%end%>
      </ul>
    </li>
    <%end%>
  </ul>
</div>
<p class="col-md-12"></p>
<div class="col-sm-4">
  <!--left col-->
  <ul class="list-group">
    <li class="list-group-item text-muted" contenteditable="false">
      <i class="fa fa-user"></i>
      Perfil</li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Estado</strong>
      </span>
      <%= @persona.status.capitalize %></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Departamento</strong>
      </span>
      <%= @persona.cargo.departamento.nombre.capitalize %></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Cargo</strong>
      </span>
      <%= @persona.cargo.nombre.capitalize%></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Sueldo Normal</strong>
      </span>
      <%= tr(@persona.cargo.sueldos.last.monto)%></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Sueldo Integral</strong>
      </span>
      <%=tr(@persona.cargo.sueldos.last.sueldo_integral)%></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Cédula</strong>
      </span>
      <%= $dic["tipos_de_cedula"].key(@persona.tipo_de_cedula).to_s+@persona.cedula %></li>
    <li class="list-group-item text-right">
      <span class="pull-left">
        <strong class="">Teléfonos</strong>
      </span><%= @persona.telefono_fijo %><br>
      <%= @persona.telefono_movil %></li>
  </li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Correo</strong>
    </span>
    <%= @persona.correo %></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Cuenta</strong>
    </span>
    <%= @persona.cuenta %></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Fecha de nacimiento</strong>
    </span>
    <%= @persona.fecha_de_nacimiento.strftime("%d/#{$dic["meses"].key(@persona.fecha_de_nacimiento.month).capitalize}/%Y") %></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Dirección</strong>
    </span><%= @persona.direccion.capitalize %></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Sexo</strong>
    </span><%= $dic["sexos"].key(@persona.sexo) %></li>
  <li class="list-group-item text-muted" contenteditable="false">Contrato</li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Tipo</strong>
    </span>
    <%= $dic["tipos_de_contrato"].key(@persona.contrato.tipo_de_contrato)%></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Fecha de inicio</strong>
    </span>
    <%= @persona.contrato.fecha_inicio.strftime("%d/#{$dic["meses"].key(@persona.contrato.fecha_inicio.month).capitalize}/%Y")%></li>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Años de servicio</strong>
    </span>
    <%= distance_of_time_in_words_hash(@persona.contrato.fecha_inicio,Time.now)[:years]%></li>
  <% if @persona.contrato.tipo_de_contrato == 1%>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Fecha de fin</strong>
    </span>
    <%= @persona.contrato.fecha_fin%></li>
  <%elsif @persona.contrato.tipo_de_contrato == 2%>
  <li class="list-group-item text-right">
    <span class="pull-left">
      <strong class="">Sueldo Externo</strong>
    </span>
    <%= tr(@persona.contrato.sueldo_externo)%></li>
  <%end%>
</ul>
</div>
<% if @persona.status!='retirado' %>
<div class="col-sm-8">
<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false"><i class="fa fa-file-text-o"></i> <%= 'Reporte Quincena Actual ('+$ahora.month.to_s+'/'+$ahora.year.to_s+')'%></li>
  <li class="list-group-item">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>CONCEPTO</th>
          <th>ASIGNACIÓN</th>
          <th>DEDUCCIÓN</th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <%if @persona.status=='suspendido'%>
      <tbody>
        <tr>
          <td></td>
          <td>0.00</td>
          <td>0.00</td>
          <td>0.00</td>
        </tr>
      </tbody>
      <%else%>
      <% @persona.asignaciones.each do |c| %>
      <tbody>
        <tr>
          <td><%= c['nombre'].upcase%></td>
          <td><%=tr(c['valor'])%></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>

        <% @valor=0
          @persona.deducciones.each do |c| %>
        <tr>
          <td><%= c['nombre'].upcase%></td>
          <td></td>
          <td><%=tr(c['valor'])%></td>
          <td></td>
        </tr>
        <% end %>

        <tr>
          <th></th>
          <th><%=
            tr(@persona.total_asignaciones)%></th>
          <th><%=
            tr(@persona.total_deducciones)
            %></th>
          <th><%= tr(@persona.total)+"  BsF." %></th>
        </tr>
      </tbody>
      <%end%>
    </table>
  </li>
</ul>
</div>
<%else%>
<div class="text-center col-sm-8">
<ul class="list-group">
  <li class="list-group-item text-muted text-left" contenteditable="false">
    <i class="fa fa-comment-o"></i>
    Mensaje</li>
  <li class="list-group-item"></br>
  <i class="fa fa-user-times fa-4x" style="color:red;"></i>
  <h2>El empleado esta retirado.</h2>
</li>
</ul>
</div>
<%end%>

<% if @persona.familiares.length>0 %>
<div class="col-sm-8">
<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false"><i class="fa fa-users"></i> Familiar (es)</li>
  <li class="list-group-item">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Parentesco</th>
          <th>C.I</th>
          <th>Nombres</th>
          <th>Fecha de nacimiento</th>
            <th>Sexo</th>
        </tr>
      </thead>

      <tbody>
        <%@persona.familiares.each do |familiar|%>
        <tr>
          <td><%=$dic["parentesco"].key(familiar.parentesco.to_i)%></td>
          <td><%=familiar.cedula%></td>
          <td><%="#{familiar.nombres} #{familiar.apellidos}"%></td>
          <td><%=familiar.fecha_de_nacimiento%></td>
          <td><%=$dic["sexos"].key(familiar.sexo.to_i)%></td>
        </tr>
        <%end%>
      </tbody>

    </table>
  </li>
</ul>
</div>
<%else%>
<div class="text-center col-sm-8">
<ul class="list-group">
  <li class="list-group-item text-muted text-left" contenteditable="false">
    <i class="fa fa-comment-o"></i>
    Mensaje</li>
  <li class="list-group-item"></br>
  <i class="fa fa-user-times fa-4x" style="color:red;"></i>
  <h2>El empleado no tiene familiares.</h2>
</li>
</ul>
</div>
<%end%>
<!-- Modal generador de recibos pasados -->
<div class="modal fade" id="myModal" style="margin-top:60px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
      <i class="fa fa-file-pdf-o fa-2x"></i>
      Generador de recibo de pago</h4>
  </div>
  <div class="modal-body ">
    <div class="col-xs-12 form-group">
      <%= label_tag "Quincena" %>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="fa fa-calendar fa-fw"></span>
        </span>
        <select class="form-control" id="quincena">
          <option value="">Seleccione la quincena...</option>
          <%
sueldo=Sueldo.first.created_at
i=1
while sueldo<$ahora
  quincena=(sueldo.day<=15)? 0:1
dia= (quincena==0) ? 11 : 17
fecha="#{dia}-#{sueldo.month}-#{sueldo.year}"
%>
          <option value="<%=fecha %>"><%= $dic['quincena'].key(quincena) + $dic["meses"].key(sueldo.month) +" del #{sueldo.year}"%></option>
        <%  if quincena==0
sueldo= Date.strptime("16-#{sueldo.mon}-#{sueldo.year}", '%d-%m-%Y')
else
if sueldo.mon==12
sueldo=Date.strptime("1-1-#{sueldo.year+1}", '%d-%m-%Y')
else
sueldo= Date.strptime("1-#{sueldo.mon+1}-#{sueldo.year}", '%d-%m-%Y')
end
end
end%>
        </select>
      </div>
    </div>
  </br>
</br>
</br>
</br>
</div>
<div class="modal-footer">
<div class="btn-group btn-group-md form-inline" role="group" aria-label="...">
<button type="button" class="btn btn-primary" id="generar_boton" name="button">
<i class="fa fa-cog"></i>
Generar</button>
<button type="button" class="btn btn-success" id="generar_boton_eco" name="button">
<i class="fa fa-leaf"></i>
</button>
</div>
<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
<!--Fin del modal-->

<script type="text/javascript">

function generar(eco) {

  var params = '?doc=' + parseInt(0 + eco) + '&ahora=' + $('#quincena').val();
  var win = window.open('<%=personas_path%>/<%=@persona.id%>.pdf' + params, '_blank');
  if (win) {
    //Browser has allowed it to be opened
    win.focus();
  } else {
    //Broswer has blocked it
    alert('Please allow popups for this site');
  }
}

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('#generar_boton').click(function () {
    generar(0);
  });
  $('#generar_boton_eco').click(function () {
    generar(1);
  });
});
</script>
<!-- modal cambio de cargo -->
<form class="cambiarestado" action="<%= cambiarestado_persona_path(@persona, estado: 2)%>" method="post">
<div class="modal fade" id="reingreso" style="margin-top:60px;" tabindex="-1" role="dialog" aria-labelledby="reingresoLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
<h4 class="modal-title" id="reingresoLabel">
<i class="fa fa-sign-in fa-2x"></i>
Reingresar</h4>
</div>
<div class="modal-body ">
<div class="col-xs-12 form-group">
<%= label_tag "Cargo" %><br>
<div class="form-group input-group">
  <span class="input-group-addon">
    <span class="fa fa-briefcase"></span>
  </span>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

  <%= select_tag("cargo_id",options_for_select(Cargo.all.where("disponible=true").map{|s|[s.nombre, s.id]},@persona.cargo.id),{include_blank:'Seleccione un cargo...', class: 'form-control'})  %>
</div>
</div>
</br>
</br>
</br>
</br>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary" name="button">Guardar</button>
<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
</form>
<!--fin modal cambio de cargo-->
<script type="text/javascript">
function reingresar() {
  $('#cargo_select').val() :
}
</script>
