<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo cedula:</strong>
  <%= @persona.tipo_cedula %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Lista:</strong>
  <%= @persona.lista %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @persona.telefono_fijo %>
</p>

<p>
  <strong>Telefono movil:</strong>
  <%= @persona.telefono_movil %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @persona.fecha_de_nacimiento %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @persona.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @persona.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @persona.estado_civil %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @persona.grado %>
</p>

<p>
  <strong>Status:</strong>
  <%= @persona.status %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
