<p id="notice"><%= notice %></p>

<h1>Listing Headquarters</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @headquarters.each do |headquarter| %>
      <tr>
        <td><%= headquarter.nombre %></td>
        <td><%= link_to 'Show', headquarter %></td>
        <td><%= link_to 'Edit', edit_headquarter_path(headquarter) %></td>
        <td><%= link_to 'Destroy', headquarter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Headquarter', new_headquarter_path %>
