<div class="page-header">
    <%= render 'layouts/nuevo', :msg => "Nuevo Concepto Personal", :path=>new_conceptopersonal_path,:x=>Conceptopersonal %>

    <h1>Conceptos Personales</h1>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        Asignaciones
    </div>
    <%if Conceptopersonal.all.where(tipo_de_concepto:0).length>0%>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th class="actions" style="width: 100px;">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <%
          asignaciones=@conceptospersonales.where(tipo_de_concepto: 0).order("created_at")
          asignaciones.each do |conceptopersonal| %>
                    <tr>
                        <td><%= conceptopersonal.nombre %></td>
                        <td class='actions'>
                            <%= render 'layouts/actions', :x => conceptopersonal, :y => edit_concepto_path(conceptopersonal) %>

                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <%else%>
    <div class="actions">
        <h4>"No hay asignaciones disponibles"</h4>
    </div>
    <%end%>
</div>
<div class="panel panel-danger">
    <div class="panel-heading">
        Deducciones
    </div>
    <%if Conceptopersonal.all.where(tipo_de_concepto:1).length>0%>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <%
  deducciones=@conceptospersonales.where(tipo_de_concepto: 1).order("created_at")
            deducciones.each do |conceptopersonal| %>
                    <tr>
                        <td><%= conceptopersonal.nombre %></td>
                        <td class='actions'>
                            <%= render 'layouts/actions', :x => conceptopersonal, :y => edit_concepto_path(conceptopersonal) %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <%else%>
    <div class="actions">
        <h4>"No hay asignaciones disponibles"</h4>
    </div>
    <%end%>
</div>
