<%if p.length>0%>

<table class="table table-hover table-condensed table-striped" style="font-size:	14px;">
<thead>
  <tr>


    <th style="width: 100px" class="actions">Fecha</th>

    <th class="actions">Acción</th>
    <th class="actions">Clase</th>
    <th class="actions">Elemento</th>
    <th class="actions">Autor</th>
  </tr>
</thead>

<tbody>
  <% p.each do |registro| %>
    <tr class="<%= $dic["tipo_de_accion"].key(registro.tipo_de_accion)%>">
      <td><%= registro.created_at.strftime("%d-%m-%Y ") %></td>
        <td><i class="<%= $dic["tipo_de_accion_def"].key(registro.tipo_de_accion)%> fa-2x"></i></td>
        <td><%= $dic["clases"].key(registro.clase)%></td>
<td><%= raw(registro.elemento) %></td>
      <td><%= registro.usuario.email %></td>

    </tr>
  <% end %>
</tbody>
</table>
<div class="pagination text-center">
  <%= will_paginate p, renderer: BootstrapPagination::Rails %>
</div>
<%else%>
<div class="actions">
<h4>"No hay registros"</h4>
</div>
<%end%>
