<div id="posicionmenu">
  <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" style="padding-top: 0px;
padding-left:0px;
      " href="/"><p class="text-primary" style="color:white;"><span class="fa-stack">


<i class="fa fa-users fa-stack-2x" style="color:white;"></i>
<i class="fa fa-diamond fa-stack-1x" style="color:grey; margin-top:0.5em; margin-left:0.1em;"></i>
      </span>  FUNSONE NOMINAS</p></a>

    </div>
    <div style="color: white;
      padding-right: 30px;
      float: right;">
<h4><%= $dic["quincena"].key($quincena).capitalize+'('+$ahora.strftime("%d/#{$dic["meses"].key($ahora.month)}/%Y")+') '%></h4>



    </div>
  </nav>

  <!-- /. NAV TOP  -->
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">

        <%if usuario_signed_in?%>
        <li class="text-center">
          <a href="#"><span class="fa-stack fa-2x fa-fw">
<i class="fa fa-circle fa-stack-2x"></i>

<i class="fa fa-user fa-stack-1x" style="color:red;"></i>
<%
badge="ban"
badges="Regular"
if current_usuario.has_role?:admin
  badge="hashtag"
  badges="Super Usuario"
elsif current_usuario.has_role?:coordinador
  badge="plus"
  badges="Coordinador"
end
%>
<i class="fa fa-<%=badge%> fa-stack-1x" style="color:grey; margin-top:0.6em; margin-left:0.6em;"></i>
          </span>
<h6><%= current_usuario.email + " ["+badges+"]" %><span class="fa arrow"></span></h6>



          </a>
          <ul class="nav nav-second-level">
            <li>
            <%= link_to raw("<i class=\"fa fa-sign-out fa-2x fa-fw\"></i> CERRAR SESIÓN"), destroy_usuario_session_path,method: :delete%>
            </li>


          </ul>
        </li>

        <li>
          <%= link_to raw("<i class=\"fa fa-home fa-2x fa-fw\"></i> PANEL INICIAL"), welcome_index_path%>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-building fa-2x fa-fw"></i>
            ESTRUCTURAS<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to raw("<i class=\"fa fa-building-o fa-fw\"></i>DEPENDENCIAS"), dependencias_path%>
            </li>
            <li>
              <%= link_to raw("<i class=\"fa fa-building-o fa-fw\"></i>DEPARTAMENTOS"), departamentos_path%>
            </li>

          </ul>
        </li>
        <li>
          <%= link_to raw("<i class=\"fa fa-th-list fa-2x fa-fw\"></i> NÓMINAS"), tipos_path%>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-money fa-2x fa-fw"></i>
            CONCEPTOS<span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to raw("<i class=\"fa fa-percent fa-fw\"></i>GLOBALES"), conceptos_path%>
            </li>
            <li>
              <%= link_to raw("<i class=\"fa fa-percent fa-fw\"></i>PERSONALES"), conceptospersonales_path%>
            </li>
          </ul>
        </li>
        <li>
        <li>
          <%= link_to raw("<i class=\"fa fa-briefcase fa-2x fa-fw\"></i> CARGOS"), cargos_path%>
        </li>
        <li >
          <%= link_to raw("<i class=\"fa fa-users fa-2x fa-fw\"></i> EMPLEADOS"), personas_path%>
        </li>
        <li>
          <% if (can? :read, Registro) || (can? :read, Usuario )||(can? :read, Setting)%>
          <a href="#">
            <i class="fa fa-hashtag fa-2x fa-fw"></i>
            AVANZADO<span class="fa arrow"></span>
          </a>
          <%end%>
          <ul class="nav nav-second-level">
            <% if can? :read, Registro %>
            <li>
              <%= link_to raw("<i class=\"fa fa-eye fa-fw\"></i>REGISTROS"), registros_path%>
            </li>
            <%end%>
            <% if can? :read, Usuario %>
            <li>
              <%= link_to raw("<i class=\"fa fa-user-secret fa-fw\"></i>USUARIOS"), welcome_users_path%>
            </li>
            <%end%>
            <% if can? :read, Setting %>
            <li>
              <%= link_to raw("<i class=\"fa fa-gears fa-fw\"></i>CONFIGURACION"), settings_path%>
            </li>
            <%end%>

          </ul>
        </li>

        <li>
          <%= link_to raw("<i class=\"fa fa-info-circle fa-2x fa-fw\"></i> ACERCA DE..."), "",  "data-toggle"=>"modal" ,"data-target"=>"#acercade"%>
        </li>

        <%else%>
        <li class="text-center">
          <%= link_to raw("<i class=\"fa fa-sign-in fa-5x\"></i>"), new_usuario_session_path%>
        </li>
        <li class="text-center">
          <a href="#">INICIE SESION PARA ACCEDER AL SISTEMA.</a>

        </li>

        <li>

          <%= link_to raw("<i class=\"fa fa-info-circle fa-2x fa-fw\"></i> ACERCA DE..."), "#",  "data-toggle"=>"modal" ,"data-target"=>"#acercade"%>

        </li>

      <%end%>
      </ul>

    </div>

  </nav>
</div>
<%=render "layouts/acercade"%>
