<!DOCTYPE html>
<html>
  <head>
    <title>FUNSONE NÓMINA - Versión: Beta 1</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%=favicon_link_tag 'favicon.png', rel: 'shortcut icon', type: 'image/png'%>


    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">

     <%= render '/layouts/menu' %>

      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <% flash.each do |type, content| %>
              <% if content.respond_to?('each')
                content.each do |item| %>
                 <%= render 'layouts/alert',
                        type: type,
                        content: item %>
                <% end %>
              <% else %>
                <%= render 'layouts/alert',
                        type: type,
                        content: content %>
              <% end %>

            <% end %>
            <div class="col-md-12">

              <%= yield %></div>

          </div>
          <!-- /. ROW  -->

        </div>
        <!-- /. PAGE INNER  -->
      </div>

    </div>
  </body>



   <script>

   </script>
</html>
